*{
    margin: 0%;
    padding: 0%;
}
/* nav */

/* deepak-css */
.dmain{
margin-left: 135px;

}
.dclass{
    width: 436px;
    height: 160px;
}
.pclass{
color:#000000;
font-family: DM Serif Display;
font-size: 72px;
font-weight: 400;
line-height: 80px;
letter-spacing: 0px;
text-align: left;
margin-top: 175px;

}
.dclass2{
    width: 570px;
    height: 83px;
    top: 361px;
    left: 135px;
    
}
.dpara2{
font-family: DM Sans;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0px;
text-align: left;
color:#000000;

}


/* shekhar-css */

/* khalid-css */

/* footer */